*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /*max-width: 930px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #262626;
}

.pantalla {
    display: flex;
    max-width: 930px;
    width: 100%;
    gap: 25px;
}

.left, .right {
    width: 100vw;
}

section.container1{
    margin-top: 20px;
    /*width: 450px;*/
    height: 230px;
    border-radius: 10px;
    background-color: #ffffff;
}

section.container2{
    margin-top: 20px;
    /*width: 450px;*/
    height: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.container1 h1 {
    color: #111;
    font-family: 'Rubik', 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 1.5rem;
}

.container2 h1 {
    color: #111;
    font-weight: bolder;
    font-family: Tahoma, sans-serif;
    padding-bottom: 22px;
    font-size: 1.5rem;
}

.container1 p  {
    color: #777;
    font-size: 1rem;
}

.container2 p  {
    color: #474747;
    font-size: 1rem;
    line-height: 1.5rem;
}

div.flexbox-container1{
    display:flex;
    gap: 10px;
    margin: 25px 25px;
}

div.flexbox-container2{
    display:flex;
    border-radius: 10px;
    gap: 10px;
}

div.imagen1{
    max-width: 102px;
    max-height: 76.5px;
    /*width: 100%;
    height: 100%;*/
    border-radius: 10%;
    margin-top: 20px;
}

div.imagen1 img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

div.imagen2{
    width: 100%;
    height: 200px;
    background-image: url(imagenes/char.jpg), linear-gradient(
        140deg, rgb(211 123 66) 29%, rgb(169 169 169) 66%, rgb(57 198 206) 84%);
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center; 
}

.flex-column {
    flex-direction: column;
    align-items: left;
}

label{
    font-family: 'Rubik';
    color: orange;
    font-size: 0.6rem; /* equivale a 10px */
    padding-bottom: 6px;
  }

a {
    color: #0089c7;
    text-decoration: none;   
}

.informacion {
    display: flex;
    margin: 25px;
}

div.autor img {
    border-radius: 100px;
    width: 35px;
}

.autor {
    display: flex;
    margin: 0px 25px 25px 25px;
}

.autor p {
    padding: 5px 0px 0px 10px;
}

@media screen and (max-width:547px) {
    .pantalla {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left, .right {
        width: 90vw;
    }
    section.container2 {
        margin-top: 0px;
    }
}

@media (max-width: 900px) and (min-width:548px) {
    .container1 p  {
        font-size: 0.8rem;
    }

    .container1 h1  {
        font-size: 1rem;
    }

    .container2 p  {
        font-size: 0.8rem;
    }

    .container2 h1  {
        font-size: 1rem;
    }
    .pantalla {
        width: 97vw;
    }
    .informacion {
        display: flex;
        margin: 10px 25px 15px 25px;
    }
    label {
        font-size: 0.5rem;
    }
  }